<h2>Calculator</h2>

<div class="form-group">
  <label for="hp">HP:</label>
  <input [(ngModel)]="baseHP" id="hp" class="form-control" type="number">
</div>

<div class="form-group">
  <label for="attack">Attack:</label>
  <input [(ngModel)]="baseAttack" id="attack" class="form-control" type="number">
</div>

<div class="form-group">
  <label for="specialAttack">Special Attack:</label>
  <input [(ngModel)]="baseSpecialAttack" id="specialAttack" class="form-control" type="number">
</div>

<div class="form-group">
  <label for="defense">Defense:</label>
  <input [(ngModel)]="baseDefense" id="defense" class="form-control" type="number">
</div>

<div class="form-group">
  <label for="specialDefense">Special Defense:</label>
  <input [(ngModel)]="baseSpecialDefense" id="specialDefense" class="form-control" type="number">
</div>

<div class="form-group">
  <label for="speed">Speed:</label>
  <input [(ngModel)]="baseSpeed" id="speed" class="form-control" type="number">
</div>

<button (click)="calculateStats()">Calculate</button>

<div class="result-container">
  <p>Result: {{hp}}</p>
  <p>Attack: {{attack}}</p>
  <p>Special Attack: {{specialAttack}}</p>
  <p>Defense: {{defense}}</p>
  <p>Special Defense: {{specialDefense}}</p>
  <p>Speed: {{speed}}</p>
</div>